@model IEnumerable<DPS.Models.Sweet>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr class="bg-black text-light">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    @{
      int i = 1;
      int selectedId = 0;
    }
    @foreach(Sweet item in Model){
    <tr>
      <th scope="row">@i)</th>
      <td>@Html.DisplayFor(modelItem => item.Name)</td>
      <td>@Html.DisplayFor(modelItem => item.Price)</td>
      <td>@Html.DisplayFor(smodelItem => item.Quantity)</td>
      <td class="text-center py-1"> 
          <button type="button" class="btn btn-outline-primary btn-xs open-AddBookDialog" id="@i" data-bs-toggle="modal" data-bs-target="#exampleModal" asp-action="Edit" asp-route-id="@item.ID">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16">
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
          </button>
      </td>
    </tr> 
    i++;
    }
  </tbody>   
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="selectedRow" style="display: block;"></p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('.open-AddBookDialog');


  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const selectedRow = button.id;
      document.getElementById("selectedRow").innerHTML = selectedRow;
      console.log(`selectedRow: ${button.id}`);
    });
  });
 
</script>